# Phase1:

## Goal of Collecting Dataset:

The aim of analyzing this football match dataset is to conduct a comprehensive performance evaluation of teams and players by examining key metrics such as goals, assists, and other relevant statistics. By leveraging historical data, we aim to build predictive models capable of forecasting match outcomes and individual player performances. Additionally, the analysis seeks to uncover trends and patterns in match results, player statistics, and team strategies, which can provide valuable insights into game dynamics and competitive behaviors.

To achieve these objectives, we will employ clustering and classification techniques using machine learning methods learned during the course.

## Source of Dataset: 
Kaggle Platform Dataset link: https://www.kaggle.com/datasets/evangower/fifa-world-cup

## General Information about the Dataset:

Number of Attributes:15

Number of Objects:900 (Match)

Class Name/Labels: outcome

In [13]:

import pandas as pd

df = pd.read_csv('Dataset/wcmatches.csv')

print(df.info())

num_row = len(df)
print("Number of rows:", num_row)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            900 non-null    int64
 1   country         900 non-null    object
 2   city            900 non-null    object
 3   stage           900 non-null    object
 4   home_team       900 non-null    object
 5   away_team       900 non-null    object
 6   home_score      900 non-null    int64
 7   away_score      900 non-null    int64
 8   outcome         900 non-null    object
 9   win_conditions  62 non-null     object
 10  winning_team    731 non-null    object
 11  losing_team     731 non-null    object
 12  date            900 non-null    object
 13  month           900 non-null    object
 14  dayofweek       900 non-null    object
dtypes: int64(3), object(12)
memory usage: 105.6+ KB
None
Number of rows: 900

------------------------------------------------------

# Phase2:

| Attributes Name | Data type | Description | Possible Values |
|----------|----------|----------|----------|
|Year |	Integer| The year of the match |	Any year (e.g., 1930, 1934, etc.)|
|Country |	String |The country hosting the World Cup |  Categorical string values (different possible)|
|City	| String |	The city where the match took place	 | Categorical string values (different possible)|
|Stage	| String|	The stage of the tournament | Categorical string values (different possible)|
|Home Team |	String | The team playing at home |	Categorical string values (different possible)|
|Away Team |	String |	The team playing away |	Categorical string values (different possible)|
|Home Score |	Integer	| The score of the home team |	0-10|
|Away Score	| Integer |	The score of the away team |	0-8|
|Outcome |	String | The result of the match |	H (Home win), A (Away win), D (Draw)|
|Win Conditions |	String |	Conditions under which the winning team was determined	Specific phrases |Categorical string values (different possible)|
|Winning Team |	String | The team that won the match |	Categorical string values (different possible)|
|Losing Team|	String | The team that lost the match |	Categorical string values (different possible)|
|Date |Date |	The date of the match |	Datetime |
|Month |String	|The month in which the match took place|Categorical string values (different possible)|
|DayOfWeek |	String |	The day of the week when the match occurred | Categorical string values (different possible)|

## Sample

In [14]:

sample = df.sample(frac=1)
print(sample);

     year        country              city          stage    home_team  \
84   1954    Switzerland          Lausanne        Group 1       Brazil
37   1938         France          Toulouse    Round of 16         Cuba
592  2002          Japan           Saitama        Group H        Japan
194  1966        England        Sunderland  Quarterfinals      Hungary
374  1986         Mexico       Mexico City        Group A  South Korea
..    ...            ...               ...            ...          ...
859  2018         Russia  Saint Petersburg        Group E       Brazil
1    1930        Uruguay        Montevideo        Group 4      Belgium
899  2018         Russia            Moscow          Final       France
450  1990          Italy             Turin    Round of 16       Brazil
469  1994  United States           Orlando        Group F      Belgium

         away_team  home_score  away_score outcome win_conditions  \
84      Yugoslavia           1           1       D            NaN
37         Romania           3           3       D            NaN
592        Belgium           2           2       D            NaN
194   Soviet Union           1           2       A            NaN
374       Bulgaria           1           1       D            NaN
..             ...         ...         ...     ...            ...
859     Costa Rica           2           0       H            NaN
1    United States           0           3       A            NaN
899        Croatia           4           2       H            NaN
450      Argentina           0           1       A            NaN
469        Morocco           1           0       H            NaN

      winning_team losing_team        date month dayofweek
84             NaN         NaN  1954-06-19   Jun  Saturday
37             NaN         NaN  1938-06-05   Jun    Sunday
592            NaN         NaN  2002-06-04   Jun   Tuesday
194   Soviet Union     Hungary  1966-07-23   Jul  Saturday
374            NaN         NaN  1986-06-05   Jun  Thursday
..             ...         ...         ...   ...       ...
859         Brazil  Costa Rica  2018-06-22   Jun    Friday
1    United States     Belgium  1930-07-13   Jul    Sunday
899         France     Croatia  2018-07-15   Jul    Sunday
450      Argentina      Brazil  1990-06-24   Jun    Sunday
469        Belgium     Morocco  1994-06-19   Jun    Sunday

[900 rows x 15 columns]

## Show the Min., 1st Qu., Median, Mean ,3rd Qu.,Max. for each numeric column:

In [16]:
summary_stats=df.describe();
print(summary_stats);

              year  home_score  away_score
count   900.000000  900.000000  900.000000
mean   1986.915556    1.568889    1.262222
std      23.150270    1.489574    1.313960
min    1930.000000    0.000000    0.000000
25%    1970.000000    0.000000    0.000000
50%    1990.000000    1.000000    1.000000
75%    2006.000000    2.000000    2.000000
max    2018.000000   10.000000    8.000000

- Year: The range of year is between 1930 and 2018, with an average year of 1987. Most matches occurred between 1970 and 2006, with a median year of
1990, indicating a relatively even distribution of matches over time.

- Home Score: Home team scores range from 0 to 10 goals, with an average of 1.57 goals per match. While 25% of the matches saw the home team
scoring no goals, the median score is 1, and in 75% of the matches, the home team scored 2 or fewer goals.

- Away Score: Away team scores range from 0 to 8 goals, with an average of 1.26 goals per match. Similar to home teams, 25% of the matches had away
teams scoring no goals, and the median score is 1, with 75% of the away teams scoring 2 or fewer goals.

## Show the Variance:

In [17]:
variance= df.var(numeric_only=True);
print(variance);

year          535.935019
home_score      2.218831
away_score      1.726491
dtype: float64

Show the Variance :
Variance shows how much values spread out. High variance means more spread, while low variance means values are closer to the average. So, our
variance results show:


Year: The high variance shows significant spread in match years, which is expected due to the wide range [1930-2018]

home score:The variance is relatively low which means there isn't much variation in the scores of the home teams

Away_score: The variance is also low, indicating that there is little variation in the scores of the away teams

## Graphs:

### Understanding the data through graph representations:

To understand the relationship between match outcomes and all available attributes, particularly how they are associated with predicting match results and team performance, the focus was primarily on variables related to teams and final results. This analysis identifies whether a team won or lost, utilizing all attributes to extract relationships and infer whether an increase in a specific attribute (such as goals scored or possession) suggests a higher likelihood of winning the match.

Additionally, the analysis helps determine whether performance is more influenced by factors like venue (home or away) or the ranking differences between teams. This aids in identifying key factors that impact match outcomes and discovering indicators that could assist in predicting future wins or losses.

///

## Data Preprocessing:

### Data Cleaning:

#### 1-Remove duplicates:

##### First, we count the number of duplicates rows, and then we remove them:

In [18]:
import pandas as pd
data = pd.read_csv('Dataset/wcmatches.csv')
num_duplicates = data.duplicated().sum()
data_cleaned = data.drop_duplicates()
print("Number of duplicate rows:", num_duplicates)
print("DataFrame after dropping all duplicate rows:")
print(data_cleaned)
data_cleaned.to_csv('Cleaned_dataset.csv', index=False)

Number of duplicate rows: 0
DataFrame after dropping all duplicate rows:
     year  country              city          stage  home_team      away_team  \
0    1930  Uruguay        Montevideo        Group 1     France         Mexico
1    1930  Uruguay        Montevideo        Group 4    Belgium  United States
2    1930  Uruguay        Montevideo        Group 2     Brazil     Yugoslavia
3    1930  Uruguay        Montevideo        Group 3       Peru        Romania
4    1930  Uruguay        Montevideo        Group 1  Argentina         France
..    ...      ...               ...            ...        ...            ...
895  2018   Russia             Sochi  Quarterfinals     Russia        Croatia
896  2018   Russia  Saint Petersburg     Semifinals     France        Belgium
897  2018   Russia            Moscow     Semifinals    Croatia        England
898  2018   Russia  Saint Petersburg    Third place    Belgium        England
899  2018   Russia            Moscow          Final     France        Croatia

     home_score  away_score outcome                    win_conditions  \
0             4           1       H                               NaN
1             0           3       A                               NaN
2             1           2       A                               NaN
3             1           3       A                               NaN
4             1           0       H                               NaN
..          ...         ...     ...                               ...
895           2           2       A  Croatia won in penalties (4 - 3)
896           1           0       H                               NaN
897           2           1       H                Croatia won in AET
898           2           0       H                               NaN
899           4           2       H                               NaN

      winning_team losing_team        date month  dayofweek
0           France      Mexico  1930-07-13   Jul     Sunday
1    United States     Belgium  1930-07-13   Jul     Sunday
2       Yugoslavia      Brazil  1930-07-14   Jul     Monday
3          Romania        Peru  1930-07-14   Jul     Monday
4        Argentina      France  1930-07-15   Jul    Tuesday
..             ...         ...         ...   ...        ...
895        Croatia      Russia  2018-07-07   Jul   Saturday
896         France     Belgium  2018-07-10   Jul    Tuesday
897        Croatia     England  2018-07-11   Jul  Wednesday
898        Belgium     England  2018-07-14   Jul   Saturday
899         France     Croatia  2018-07-15   Jul     Sunday

[900 rows x 15 columns]

This shows that our dataset has no duplicate rows, so the total number of rows remains unchanged at 900.

#### 2-Handling Missing Values:

##### First, we calculate the number of missing values in our dataset:

In [19]:
import pandas as pd
data = pd.read_csv('Cleaned_dataset.csv');
sample=data.sample(n=20);
print(sample);
missing_values = data.isna()
missing_counts = missing_values.sum();
rows_with_missing = data[data.isna().any(axis=1)];

print("Missing values in each column:");
print(missing_counts);
print("\nRows with missing values:");
print(rows_with_missing);

     year       country            city          stage         home_team  \
229  1970        Mexico     Mexico City     Semifinals      West Germany
650  2006       Germany       Nuremberg        Group D            Mexico
430  1990         Italy           Turin        Group C            Brazil
96   1954   Switzerland          Geneva  Quarterfinals      West Germany
5    1930       Uruguay      Montevideo        Group 1             Chile
848  2018        Russia           Sochi        Group G           Belgium
460  1990         Italy          Naples     Semifinals             Italy
381  1986        Mexico  Nezahualcóyotl        Group E           Denmark
771  2010  South Africa    Johannesburg          Final       Netherlands
177  1966       England   Middlesbrough        Group 4             Chile
799  2014        Brazil       Fortaleza        Group G           Germany
397  1986        Mexico            León    Round of 16      Soviet Union
282  1978     Argentina    Buenos Aires        Group 3           Austria
234  1974       Germany         Hamburg        Group 1      East Germany
393  1986        Mexico     Guadalajara        Group D  Northern Ireland
164  1962         Chile        Santiago     Semifinals             Chile
810  2014        Brazil           Natal        Group D             Italy
155  1962         Chile           Arica        Group 1      Soviet Union
862  2018        Russia          Moscow        Group G           Belgium
745  2010  South Africa    Johannesburg        Group D             Ghana

       away_team  home_score  away_score outcome  \
229        Italy           3           4       A
650         Iran           3           1       H
430   Costa Rica           1           0       H
96    Yugoslavia           2           0       H
5         Mexico           3           0       H
848       Panama           3           0       H
460    Argentina           1           1       A
381      Uruguay           6           1       H
771        Spain           0           1       A
177  North Korea           1           1       D
799        Ghana           2           2       D
397      Belgium           3           4       A
282       Sweden           1           0       H
234    Australia           2           0       H
393       Brazil           0           3       A
164       Brazil           2           4       A
810      Uruguay           0           1       A
155      Uruguay           2           1       H
862      Tunisia           5           2       H
745      Germany           0           1       A

                         win_conditions  winning_team       losing_team  \
229                    Italy won in AET         Italy      West Germany
650                                 NaN        Mexico              Iran
430                                 NaN        Brazil        Costa Rica
96                                  NaN  West Germany        Yugoslavia
5                                   NaN         Chile            Mexico
848                                 NaN       Belgium            Panama
460  Argentina won in penalties (4 - 3)     Argentina             Italy
381                                 NaN       Denmark           Uruguay
771                    Spain won in AET         Spain       Netherlands
177                                 NaN           NaN               NaN
799                                 NaN           NaN               NaN
397                  Belgium won in AET       Belgium      Soviet Union
282                                 NaN       Austria            Sweden
234                                 NaN  East Germany         Australia
393                                 NaN        Brazil  Northern Ireland
164                                 NaN        Brazil             Chile
810                                 NaN       Uruguay             Italy
155                                 NaN  Soviet Union           Uruguay
862                                 NaN       Belgium           Tunisia
745                                 NaN       Germany             Ghana

           date month  dayofweek
229  1970-06-17   Jun  Wednesday
650  2006-06-11   Jun     Sunday
430  1990-06-16   Jun   Saturday
96   1954-06-27   Jun     Sunday
5    1930-07-16   Jul  Wednesday
848  2018-06-18   Jun     Monday
460  1990-07-03   Jul    Tuesday
381  1986-06-08   Jun     Sunday
771  2010-07-11   Jul     Sunday
177  1966-07-15   Jul     Friday
799  2014-06-21   Jun   Saturday
397  1986-06-15   Jun     Sunday
282  1978-06-07   Jun  Wednesday
234  1974-06-14   Jun     Friday
393  1986-06-12   Jun   Thursday
164  1962-06-13   Jun  Wednesday
810  2014-06-24   Jun    Tuesday
155  1962-06-06   Jun  Wednesday
862  2018-06-23   Jun   Saturday
745  2010-06-23   Jun  Wednesday
Missing values in each column:
year                0
country             0
city                0
stage               0
home_team           0
away_team           0
home_score          0
away_score          0
outcome             0
win_conditions    838
winning_team      169
losing_team       169
date                0
month               0
dayofweek           0
dtype: int64

Rows with missing values:
     year  country              city          stage  home_team      away_team  \
0    1930  Uruguay        Montevideo        Group 1     France         Mexico
1    1930  Uruguay        Montevideo        Group 4    Belgium  United States
2    1930  Uruguay        Montevideo        Group 2     Brazil     Yugoslavia
3    1930  Uruguay        Montevideo        Group 3       Peru        Romania
4    1930  Uruguay        Montevideo        Group 1  Argentina         France
..    ...      ...               ...            ...        ...            ...
893  2018   Russia             Kazan  Quarterfinals     Brazil        Belgium
894  2018   Russia            Samara  Quarterfinals     Sweden        England
896  2018   Russia  Saint Petersburg     Semifinals     France        Belgium
898  2018   Russia  Saint Petersburg    Third place    Belgium        England
899  2018   Russia            Moscow          Final     France        Croatia

     home_score  away_score outcome win_conditions   winning_team losing_team  \
0             4           1       H            NaN         France      Mexico
1             0           3       A            NaN  United States     Belgium
2             1           2       A            NaN     Yugoslavia      Brazil
3             1           3       A            NaN        Romania        Peru
4             1           0       H            NaN      Argentina      France
..          ...         ...     ...            ...            ...         ...
893           1           2       A            NaN        Belgium      Brazil
894           0           2       A            NaN        England      Sweden
896           1           0       H            NaN         France     Belgium
898           2           0       H            NaN        Belgium     England
899           4           2       H            NaN         France     Croatia

           date month dayofweek
0    1930-07-13   Jul    Sunday
1    1930-07-13   Jul    Sunday
2    1930-07-14   Jul    Monday
3    1930-07-14   Jul    Monday
4    1930-07-15   Jul   Tuesday
..          ...   ...       ...
893  2018-07-06   Jul    Friday
894  2018-07-07   Jul  Saturday
896  2018-07-10   Jul   Tuesday
898  2018-07-14   Jul  Saturday
899  2018-07-15   Jul    Sunday

[838 rows x 15 columns]

This shows that our dataset has missing values in multiple columns: 838 in the 'win_conditions' column, 169 in the 'winning_team' column, and 169 in the 'losing_team' column.

##### Secondly, we handle these missing values by calculating the mode value for the target columns ['win_conditions', 'winning_team', 'losing_team'], and then we replace the missing values with the mode.

In [20]:
import pandas as pd

data = pd.read_csv('Cleaned_dataset.csv')

data.columns = data.columns.str.strip()


for column in ['win_conditions', 'winning_team', 'losing_team']:
    modal_value = data[column].mode()[0]  
    data[column] = data[column].fillna(value=modal_value)  

print("Missing values after filling:")
print(data.isnull().sum())

data.to_csv('Cleaned_dataset.csv', index=False)

Missing values after filling:
year              0
country           0
city              0
stage             0
home_team         0
away_team         0
home_score        0
away_score        0
outcome           0
win_conditions    0
winning_team      0
losing_team       0
date              0
month             0
dayofweek         0
dtype: int64

and Here, the output shows that we handled all the missing values.

#### 3-Handling Outliers:

##### Before we handle our outliers we did choose the IQR method Based on our dataset to identify how many outliers in our dataset.

In [21]:
import pandas as pd
data = pd.read_csv('Cleaned_dataset.csv')
import numpy as np
outlier_threshold = 1.5

def count_outliers(column_data):
    q1 = np.percentile(column_data, 25)
    q3 = np.percentile(column_data, 75)
    iqr = q3 - q1
    upper_bound = q3 + outlier_threshold * iqr
    lower_bound = q1 - outlier_threshold * iqr
    outliers = (column_data > upper_bound) | (column_data < lower_bound)
    return sum(outliers)

numeric_columns = data.select_dtypes(include=[np.number]).columns

outlier_counts = {}
total_rows_with_outliers = 0

for column in numeric_columns:
    outliers = count_outliers(data[column])
    outlier_counts[column] = outliers
    total_rows_with_outliers += outliers

total_rows = len(data)

print("Outlier Counts:")
for column, count in outlier_counts.items():
    print(f"{column}: {count} rows with outliers")

print(f"Total Rows with Outliers: {total_rows_with_outliers}")

Outlier Counts:
year: 0 rows with outliers
home_score: 24 rows with outliers
away_score: 11 rows with outliers
Total Rows with Outliers: 35

The analysis of our dataset revealed that a total of 35 rows contain outliers, which is a small proportion compared to the overall dataset of 900 rows. Specifically, there are 0 rows with outliers in the 'year' column, 24 rows in the 'home_score' column, and 11 rows in the 'away_score' column. Although this represents a limited number of outliers, their presence indicates some extreme values that deviate from the majority of the data. To address this issue, we have decided to adopt a strategy of capping the outliers. Rather than removing these data points entirely, we opted to replace them with the nearest non-outlier values. This approach allows us to retain the entirety of our dataset while mitigating the impact of these extreme values on our subsequent analyses. By capping the outliers and maintaining the remaining data, we aim to preserve the integrity of the dataset and avoid the potential loss of valuable information that would occur through outright removal of the outliers. This ensures that our analysis incorporates as much relevant information as possible while still accounting for the presence of extreme observations

##### Handling Outliers:

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('Cleaned_dataset.csv')

outlier_threshold = 1.5

def count_outliers(column_data):
    q1 = np.percentile(column_data, 25)
    q3 = np.percentile(column_data, 75)
    iqr = q3 - q1
    upper_bound = q3 + outlier_threshold * iqr
    lower_bound = q1 - outlier_threshold * iqr
    outliers = (column_data > upper_bound) | (column_data < lower_bound)
    return sum(outliers)

numeric_columns = data.select_dtypes(include=[np.number]).columns

outlier_counts = {}
total_rows = len(data)

for column in numeric_columns:
    outliers = count_outliers(data[column])
    outlier_counts[column] = outliers
    
    q1 = np.percentile(data[column], 25)
    q3 = np.percentile(data[column], 75)
    iqr = q3 - q1
    upper_bound = q3 + outlier_threshold * iqr
    lower_bound = q1 - outlier_threshold * iqr
    data[column] = np.clip(data[column], lower_bound, upper_bound)

data.to_csv('Cleaned_dataset.csv', index=False)

##### Checking the results by counting outliers after handling them.

In [23]:
import pandas as pd
import numpy as np

data1 = pd.read_csv('Cleaned_dataset.csv')

outlier_threshold = 1.5

def count_outliers(column_data1):
    q1 = np.percentile(column_data1, 25)
    q3 = np.percentile(column_data1, 75)
    iqr = q3 - q1
    upper_bound = q3 + outlier_threshold * iqr
    lower_bound = q1 - outlier_threshold * iqr
    outliers = (column_data1 > upper_bound) | (column_data1 < lower_bound)
    return sum(outliers)


numeric_columns = data1.select_dtypes(include=[np.number]).columns


outlier_counts = {}
total_rows_with_outliers = 0


for column in numeric_columns:
    outliers = count_outliers(data1[column])
    outlier_counts[column] = outliers
    total_rows_with_outliers += outliers

total_rows = len(data1)

print("Outlier Counts:")
for column, count in outlier_counts.items():
    print(f"{column}: {count} rows with outliers")

print(f"Total Rows with Outliers: {total_rows_with_outliers}")

Outlier Counts:
year: 0 rows with outliers
home_score: 0 rows with outliers
away_score: 0 rows with outliers
Total Rows with Outliers: 0

### Data Transmission

#### 1-Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data1 = pd.read_csv('Cleaned_dataset.csv')

le = LabelEncoder()
data1['country'] = le.fit_transform(data1['country'])
data1['city'] = le.fit_transform(data1['city'])
data1['stage'] = le.fit_transform(data1['stage'])
data1['dayofweek'] = le.fit_transform(data1['dayofweek'])
data1['month'] = le.fit_transform(data1['month'])
data1['home_team'] = le.fit_transform(data1['home_team'])
data1['away_team'] = le.fit_transform(data1['away_team'])
data1['losing_team'] = le.fit_transform(data1['losing_team'])
data1['winning_team'] = le.fit_transform(data1['winning_team'])

print('Encoded DataFrame')
print(data1.head())

Encoded DataFrame
   year  country  city  stage  home_team  away_team  home_score  away_score  \
0  1930       16    83      3         27         42           4           1
1  1930       16    83      6          5         76           0           3
2  1930       16    83      4          8         80           1           2
3  1930       16    83      5         52         56           1           3
4  1930       16    83      3          2         27           1           0

  outcome    win_conditions  winning_team  losing_team        date  month  \
0       H  Italy won in AET            21           45  1930-07-13      0
1       A  Italy won in AET            61            5  1930-07-13      0
2       A  Italy won in AET            65            8  1930-07-14      0
3       A  Italy won in AET            44           55  1930-07-14      0
4       H  Italy won in AET             1           29  1930-07-15      0

   dayofweek
0          3
1          3
2          1
3          1
4          5

several nominal attributes have been encoded using the LabelEncoder. These attributes include country, city, stage, dayofweek, and month, home_team, away_team, losing_team, and winning_team. Each of these columns has been transformed from its original categorical form into a numerical format. For instances cities being numbered '83' to perform analysis

#### 2-Normalization

In [3]:
import pandas as pd
data1 = pd.read_csv('Cleaned_dataset.csv')

columns_to_normalize = ['home_score', 'away_score']

for column in columns_to_normalize:
    max_abs_value = data1[column].abs().max()
    data1[column] = data1[column] / (10 ** len(str(int(max_abs_value))))


print("DataFrame after Decimal Scaling Normalization:")
print(data1.head())

DataFrame after Decimal Scaling Normalization:
   year  country        city    stage  home_team      away_team  home_score  \
0  1930  Uruguay  Montevideo  Group 1     France         Mexico         0.4
1  1930  Uruguay  Montevideo  Group 4    Belgium  United States         0.0
2  1930  Uruguay  Montevideo  Group 2     Brazil     Yugoslavia         0.1
3  1930  Uruguay  Montevideo  Group 3       Peru        Romania         0.1
4  1930  Uruguay  Montevideo  Group 1  Argentina         France         0.1

   away_score outcome    win_conditions   winning_team losing_team  \
0         0.1       H  Italy won in AET         France      Mexico
1         0.3       A  Italy won in AET  United States     Belgium
2         0.2       A  Italy won in AET     Yugoslavia      Brazil
3         0.3       A  Italy won in AET        Romania        Peru
4         0.0       H  Italy won in AET      Argentina      France

         date month dayofweek
0  1930-07-13   Jul    Sunday
1  1930-07-13   Jul    Sunday
2  1930-07-14   Jul    Monday
3  1930-07-14   Jul    Monday
4  1930-07-15   Jul   Tuesday

Home and away scored have been normalized using decimal scaling to  become values between [0,1]

#### 3-Aggregation

In [7]:
import pandas as pd
data1 = pd.read_csv('Cleaned_dataset.csv')

country_stats = data1.groupby('country').agg(
    home_score_mean=('home_score', 'mean'),
    away_score_mean=('away_score', 'mean'),
    total_wins=('winning_team', lambda x: (x == x.mode()[0]).sum())  
).reset_index()

print("Country Stats:")
print(country_stats)

Country Stats:
          country  home_score_mean  away_score_mean  total_wins
0       Argentina         1.421053         1.210526          13
1          Brazil         1.441860         1.476744          20
2           Chile         1.406250         1.343750          10
3         England         1.437500         1.343750           6
4          France         1.756098         1.280488          27
5         Germany         1.382353         0.941176          28
6           Italy         1.478261         1.173913          12
7           Japan         1.125000         1.000000          12
8          Mexico         1.476190         1.202381          26
9          Russia         1.359375         1.265625          12
10   South Africa         1.171875         1.062500          17
11    South Korea         1.625000         1.187500           9
12          Spain         1.730769         0.980769          20
13         Sweden         1.914286         1.571429          15
14    Switzerland         2.500000         2.269231           5
15  United States         1.557692         1.134615          14
16        Uruguay         2.111111         1.611111           4

The aggregation summarizes match data by country, calculating the average home and away team scores, as well as counting the number of wins for the most frequent winning team in each country.

#### 4-Discretization

In [5]:
import pandas as pd
data1 = pd.read_csv('Cleaned_dataset.csv')
year_labels = ["1930s", "1940s", "1950s", "1960s", "1970s", "1980s", "1990s", "2000s", "2010s",]
year_bins = [1929, 1939, 1949, 1959, 1969, 1979, 1989, 1999, 2009, 2019,]
data1["Year_Decade"] = pd.cut(data1["year"], bins=year_bins, labels=year_labels, right=False)
data1['date'] = pd.to_datetime(data1['date'])
data1['Month'] = data1['date'].dt.month_name()
print(data1.head())
data1.to_csv('after_discretization.csv', index=False)

   year  country        city    stage  home_team      away_team  home_score  \
0  1930  Uruguay  Montevideo  Group 1     France         Mexico           4
1  1930  Uruguay  Montevideo  Group 4    Belgium  United States           0
2  1930  Uruguay  Montevideo  Group 2     Brazil     Yugoslavia           1
3  1930  Uruguay  Montevideo  Group 3       Peru        Romania           1
4  1930  Uruguay  Montevideo  Group 1  Argentina         France           1

   away_score outcome    win_conditions   winning_team losing_team       date  \
0           1       H  Italy won in AET         France      Mexico 1930-07-13
1           3       A  Italy won in AET  United States     Belgium 1930-07-13
2           2       A  Italy won in AET     Yugoslavia      Brazil 1930-07-14
3           3       A  Italy won in AET        Romania        Peru 1930-07-14
4           0       H  Italy won in AET      Argentina      France 1930-07-15

  month dayofweek Year_Decade Month
0   Jul    Sunday       1930s  July
1   Jul    Sunday       1930s  July
2   Jul    Monday       1930s  July
3   Jul    Monday       1930s  July
4   Jul   Tuesday       1930s  July

discretizes the "year" column into decades by categorizing it into decade ranges, assigns each entry a decade label, converts the "date" column to a datetime format, and extracts the month name from the date into a new "Month" column

## Feature Selection:

- Correlation Coefficient:

In [10]:
import pandas as pd

# Load the dataset
data = pd.read_csv("after_discretization.csv")

# Convert the 'outcome' column to numerical values
data['outcome_numeric'] = data['outcome'].map({'H': 1, 'A': 0, 'D': -1})


# Correlation calculations with respect to the outcome
cor_home_score = data['home_score'].corr(data['outcome_numeric'])
cor_away_score = data['away_score'].corr(data['outcome_numeric'])

# Print correlation coefficients
print("\nCorrelation coefficients with respect to the outcome:")
print(f"Home Score: {cor_home_score:.4f}")
print(f"Away Score: {cor_away_score:.4f}")

Correlation coefficients with respect to the outcome:
Home Score: 0.5241
Away Score: -0.2593

Here in this code, we calculated correlation coefficients to assess the strength and direction of the linear relationship between numeric attributes and the match outcome. Notably, the correlation coefficients revealed that the “Home Score” has a strong positive relationship (0.5241) with the outcome, while “Away Score“shows a weaker negative relationship (-0.2593).

- Chi-Square:

In [16]:
import pandas as pd
from scipy.stats import chi2_contingency

# Load the dataset
data1 = pd.read_csv('after_discretization.csv')
data1 = pd.DataFrame(data1)

# Create a contingency table for each categorical feature against the outcome
categorical_features = ['home_team', 'away_team', 'stage', 'country', 'city', 'win_conditions', 'winning_team', 'losing_team', 'Year_Decade']

# Iterate through categorical features and perform Chi-Square test
for feature in categorical_features:
    contingency_table = pd.crosstab(data1[feature], data1['outcome'])
    
    print(f"\nContingency Table for {feature}:")
    print(contingency_table)
    
    # Perform the Chi-Square test
    chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)
    
    print("\nChi-Square Statistic:", chi2_stat)
    print("Degrees of Freedom:", dof)
    print("Expected Frequencies:")
    print(expected)

Contingency Table for home_team:
outcome         A  D   H
home_team
Algeria         3  2   1
Angola          1  0   0
Argentina      13  7  40
Australia       3  1   2
Austria         9  2   9
...            .. ..  ..
United States   8  2   3
Uruguay         7  3   9
West Germany    5  8  30
Yugoslavia      1  1   3
Zaire           2  0   0

[81 rows x 3 columns]

Chi-Square Statistic: 245.6142273718769
Degrees of Freedom: 160
Expected Frequencies:
[[ 2.01333333  1.12666667  2.86      ]
 [ 0.33555556  0.18777778  0.47666667]
 [20.13333333 11.26666667 28.6       ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 6.71111111  3.75555556  9.53333333]
 [ 8.72444444  4.88222222 12.39333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 0.33555556  0.18777778  0.47666667]
 [28.18666667 15.77333333 40.04      ]
 [ 4.36222222  2.44111111  6.19666667]
 [ 3.69111111  2.06555556  5.24333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 7.04666667  3.94333333 10.01      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 3.69111111  2.06555556  5.24333333]
 [ 2.34888889  1.31444444  3.33666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 5.36888889  3.00444444  7.62666667]
 [ 3.02        1.69        4.29      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 0.33555556  0.18777778  0.47666667]
 [12.08        6.76       17.16      ]
 [ 0.33555556  0.18777778  0.47666667]
 [13.42222222  7.51111111 19.06666667]
 [11.40888889  6.38444444 16.20666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 5.03333333  2.81666667  7.15      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.00666667  0.56333333  1.43      ]
 [16.44222222  9.20111111 23.35666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 4.36222222  2.44111111  6.19666667]
 [ 8.72444444  4.88222222 12.39333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 9.06        5.07       12.87      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 3.69111111  2.06555556  5.24333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 4.02666667  2.25333333  5.72      ]
 [ 1.67777778  0.93888889  2.38333333]
 [ 5.03333333  2.81666667  7.15      ]
 [ 4.36222222  2.44111111  6.19666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 2.34888889  1.31444444  3.33666667]
 [ 2.68444444  1.50222222  3.81333333]
 [ 2.34888889  1.31444444  3.33666667]
 [ 3.02        1.69        4.29      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.34222222  0.75111111  1.90666667]
 [ 0.67111111  0.37555556  0.95333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.34888889  1.31444444  3.33666667]
 [ 6.71111111  3.75555556  9.53333333]
 [ 3.02        1.69        4.29      ]
 [10.06666667  5.63333333 14.3       ]
 [ 8.38888889  4.69444444 11.91666667]
 [ 4.02666667  2.25333333  5.72      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 4.36222222  2.44111111  6.19666667]
 [ 6.37555556  3.56777778  9.05666667]
 [14.42888889  8.07444444 20.49666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 0.67111111  0.37555556  0.95333333]]

Contingency Table for away_team:
outcome        A  D   H
away_team
Algeria        2  1   4
Angola         0  2   0
Argentina      7  3  11
Australia      0  3   7
Austria        3  2   4
...           .. ..  ..
Uruguay       16  8  13
Wales          1  3   1
West Germany   9  3   7
Yugoslavia    11  5  12
Zaire          0  0   1

[82 rows x 3 columns]

Chi-Square Statistic: 207.1619148281648
Degrees of Freedom: 162
Expected Frequencies:
[[ 2.34888889  1.31444444  3.33666667]
 [ 0.67111111  0.37555556  0.95333333]
 [ 7.04666667  3.94333333 10.01      ]
 [ 3.35555556  1.87777778  4.76666667]
 [ 3.02        1.69        4.29      ]
 [ 7.38222222  4.13111111 10.48666667]
 [ 0.67111111  0.37555556  0.95333333]
 [ 0.67111111  0.37555556  0.95333333]
 [ 8.38888889  4.69444444 11.91666667]
 [ 4.36222222  2.44111111  6.19666667]
 [ 4.02666667  2.25333333  5.72      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 4.02666667  2.25333333  5.72      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 3.69111111  2.06555556  5.24333333]
 [ 3.69111111  2.06555556  5.24333333]
 [ 5.70444444  3.19222222  8.10333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 4.69777778  2.62888889  6.67333333]
 [ 3.69111111  2.06555556  5.24333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.67777778  0.93888889  2.38333333]
 [11.07333333  6.19666667 15.73      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 8.72444444  4.88222222 12.39333333]
 [ 4.36222222  2.44111111  6.19666667]
 [ 2.68444444  1.50222222  3.81333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 5.70444444  3.19222222  8.10333333]
 [ 0.67111111  0.37555556  0.95333333]
 [ 2.68444444  1.50222222  3.81333333]
 [ 0.67111111  0.37555556  0.95333333]
 [11.40888889  6.38444444 16.20666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 2.68444444  1.50222222  3.81333333]
 [ 1.00666667  0.56333333  1.43      ]
 [10.40222222  5.82111111 14.77666667]
 [ 3.35555556  1.87777778  4.76666667]
 [ 7.71777778  4.31888889 10.96333333]
 [ 1.67777778  0.93888889  2.38333333]
 [ 3.35555556  1.87777778  4.76666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 3.69111111  2.06555556  5.24333333]
 [ 2.34888889  1.31444444  3.33666667]
 [ 0.67111111  0.37555556  0.95333333]
 [ 5.03333333  2.81666667  7.15      ]
 [ 4.36222222  2.44111111  6.19666667]
 [ 6.37555556  3.56777778  9.05666667]
 [ 5.70444444  3.19222222  8.10333333]
 [ 2.68444444  1.50222222  3.81333333]
 [ 4.69777778  2.62888889  6.67333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.02        1.69        4.29      ]
 [ 4.69777778  2.62888889  6.67333333]
 [ 1.67777778  0.93888889  2.38333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 4.69777778  2.62888889  6.67333333]
 [ 7.38222222  4.13111111 10.48666667]
 [11.07333333  6.19666667 15.73      ]
 [ 8.72444444  4.88222222 12.39333333]
 [ 8.38888889  4.69444444 11.91666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 0.67111111  0.37555556  0.95333333]
 [ 4.02666667  2.25333333  5.72      ]
 [ 3.02        1.69        4.29      ]
 [ 1.34222222  0.75111111  1.90666667]
 [ 0.67111111  0.37555556  0.95333333]
 [ 6.71111111  3.75555556  9.53333333]
 [12.41555556  6.94777778 17.63666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 6.37555556  3.56777778  9.05666667]
 [ 9.39555556  5.25777778 13.34666667]
 [ 0.33555556  0.18777778  0.47666667]]

Contingency Table for stage:
outcome         A   D   H
stage
 Group A        0   0   1
Final           4   0  16
Final Round     3   1   2
Group 1        18  16  25
Group 2        19  12  25
Group 3        18  11  24
Group 4        24  13  15
Group 5         2   3   1
Group 6         0   1   5
Group A        26  16  26
Group B        16  19  34
Group C        15  14  28
Group D        20  11  25
Group D         1   0   0
Group E        20  15  19
Group F        12  18  24
Group G        11   8  17
Group H        15   7  14
Quarterfinals  30   2  34
Round of 16    26   2  61
Semifinals     16   0  20
Third place     6   0  13

Chi-Square Statistic: 102.63697366003795
Degrees of Freedom: 42
Expected Frequencies:
[[ 0.33555556  0.18777778  0.47666667]
 [ 6.71111111  3.75555556  9.53333333]
 [ 2.01333333  1.12666667  2.86      ]
 [19.79777778 11.07888889 28.12333333]
 [18.79111111 10.51555556 26.69333333]
 [17.78444444  9.95222222 25.26333333]
 [17.44888889  9.76444444 24.78666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.01333333  1.12666667  2.86      ]
 [22.81777778 12.76888889 32.41333333]
 [23.15333333 12.95666667 32.89      ]
 [19.12666667 10.70333333 27.17      ]
 [18.79111111 10.51555556 26.69333333]
 [ 0.33555556  0.18777778  0.47666667]
 [18.12       10.14       25.74      ]
 [18.12       10.14       25.74      ]
 [12.08        6.76       17.16      ]
 [12.08        6.76       17.16      ]
 [22.14666667 12.39333333 31.46      ]
 [29.86444444 16.71222222 42.42333333]
 [12.08        6.76       17.16      ]
 [ 6.37555556  3.56777778  9.05666667]]

Contingency Table for country:
outcome         A   D   H
country
Argentina      13   9  16
Brazil         35  12  39
Chile          11   5  16
England        13   5  14
France         21  19  42
Germany        28  21  53
Italy          22   9  38
Japan          11   8  13
Mexico         30  16  38
Russia         28   9  27
South Africa   24  14  26
South Korea     9   6  17
Spain          11  16  25
Sweden         10  10  15
Switzerland    11   2  13
United States  18   8  26
Uruguay         7   0  11

Chi-Square Statistic: 32.194074085097554
Degrees of Freedom: 32
Expected Frequencies:
[[12.75111111  7.13555556 18.11333333]
 [28.85777778 16.14888889 40.99333333]
 [10.73777778  6.00888889 15.25333333]
 [10.73777778  6.00888889 15.25333333]
 [27.51555556 15.39777778 39.08666667]
 [34.22666667 19.15333333 48.62      ]
 [23.15333333 12.95666667 32.89      ]
 [10.73777778  6.00888889 15.25333333]
 [28.18666667 15.77333333 40.04      ]
 [21.47555556 12.01777778 30.50666667]
 [21.47555556 12.01777778 30.50666667]
 [10.73777778  6.00888889 15.25333333]
 [17.44888889  9.76444444 24.78666667]
 [11.74444444  6.57222222 16.68333333]
 [ 8.72444444  4.88222222 12.39333333]
 [17.44888889  9.76444444 24.78666667]
 [ 6.04        3.38        8.58      ]]

Contingency Table for city:
outcome    A  D  H
city
Alicante   0  0  3
Antibes    1  0  0
Arica      3  1  3
Barcelona  4  1  3
Bari       2  0  3
...       .. .. ..
Yokohama   2  0  2
Zaragoza   1  2  0
Zürich     0  0  5
Örebro     0  0  1
Ōita       1  2  0

[161 rows x 3 columns]

Chi-Square Statistic: 357.2748592857016
Degrees of Freedom: 320
Expected Frequencies:
[[ 1.00666667  0.56333333  1.43      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 2.68444444  1.50222222  3.81333333]
 [ 1.67777778  0.93888889  2.38333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.02        1.69        4.29      ]
 [ 3.02        1.69        4.29      ]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.02        1.69        4.29      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 2.34888889  1.31444444  3.33666667]
 [ 4.02666667  2.25333333  5.72      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.68444444  1.50222222  3.81333333]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.34222222  0.75111111  1.90666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 2.68444444  1.50222222  3.81333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.35555556  1.87777778  4.76666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 2.34888889  1.31444444  3.33666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.35555556  1.87777778  4.76666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 3.35555556  1.87777778  4.76666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.34888889  1.31444444  3.33666667]
 [ 5.70444444  3.19222222  8.10333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 2.68444444  1.50222222  3.81333333]
 [ 3.02        1.69        4.29      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 5.03333333  2.81666667  7.15      ]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.67777778  0.93888889  2.38333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.69111111  2.06555556  5.24333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.67777778  0.93888889  2.38333333]
 [ 3.35555556  1.87777778  4.76666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.34888889  1.31444444  3.33666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.02        1.69        4.29      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 7.71777778  4.31888889 10.96333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 3.02        1.69        4.29      ]
 [ 2.68444444  1.50222222  3.81333333]
 [ 6.04        3.38        8.58      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 4.02666667  2.25333333  5.72      ]
 [ 3.69111111  2.06555556  5.24333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.34888889  1.31444444  3.33666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 3.02        1.69        4.29      ]
 [ 2.68444444  1.50222222  3.81333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 2.68444444  1.50222222  3.81333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.68444444  1.50222222  3.81333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 5.03333333  2.81666667  7.15      ]
 [ 3.02        1.69        4.29      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 1.67777778  0.93888889  2.38333333]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.34888889  1.31444444  3.33666667]
 [ 3.02        1.69        4.29      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 1.34222222  0.75111111  1.90666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.01333333  1.12666667  2.86      ]
 [ 0.67111111  0.37555556  0.95333333]
 [ 3.35555556  1.87777778  4.76666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 2.01333333  1.12666667  2.86      ]
 [ 2.68444444  1.50222222  3.81333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 3.35555556  1.87777778  4.76666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.34222222  0.75111111  1.90666667]
 [ 4.02666667  2.25333333  5.72      ]
 [ 2.34888889  1.31444444  3.33666667]
 [ 2.68444444  1.50222222  3.81333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 2.34888889  1.31444444  3.33666667]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 2.68444444  1.50222222  3.81333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 0.67111111  0.37555556  0.95333333]
 [ 1.67777778  0.93888889  2.38333333]
 [ 1.34222222  0.75111111  1.90666667]
 [ 1.00666667  0.56333333  1.43      ]
 [ 1.67777778  0.93888889  2.38333333]
 [ 0.33555556  0.18777778  0.47666667]
 [ 1.00666667  0.56333333  1.43      ]]

Contingency Table for win_conditions:
outcome                                         A    D    H
win_conditions
Argentina won in AET                            0    0    3
Argentina won in penalties (3 - 2)              1    0    0
Argentina won in penalties (4 - 2)              1    0    0
Argentina won in penalties (4 - 3)              1    0    1
Austria won in AET                              0    0    1
Belgium won in AET                              1    0    1
Belgium won in penalties (5 - 4)                1    0    0
Brazil won in AET                               0    0    1
Brazil won in penalties (3 - 2)                 0    0    2
Brazil won in penalties (4 - 2)                 0    0    1
Bulgaria won in penalties (3 - 1)               1    0    0
Cameroon won in AET                             0    0    1
Costa Rica won in penalties (5 - 3)             0    0    1
Croatia won in AET                              0    0    1
Croatia won in penalties (3- 2)                 0    0    1
Croatia won in penalties (4 - 3)                1    0    0
Czechoslovakia won in AET                       0    0    1
England won in AET                              1    0    2
England won in penalties (4 -3)                 1    0    0
France won in AET                               0    0    2
France won in penalties (4 - 3)                 1    0    1
Germany won in AET                              0    0    2
Germany won in penalties (4 - 2)                0    0    1
Ghana won in AET                                1    0    0
Hungary won in AET                              0    0    1
Italy won in AET                              280  169  394
Italy won in penalties (5 - 3)                  0    0    1
Netherlands won in penalties (4 - 3)            0    0    1
Northern Ireland won in AET                     1    0    0
Paraguay won in penalties (5 - 3)               0    0    1
Portugal won in penalties (3 - 1)               1    0    0
Republic of Ireland won in penalties (5 - 4)    0    0    1
Russia won in penalties (4 - 3)                 0    0    1
Senegal won in AET                              1    0    0
South Korea won in AET                          0    0    1
South Korea won in penalties (5 - 3)            0    0    1
Spain won in AET                                1    0    0
Spain won in penalties (3 - 2)                  0    0    1
Sweden won in penalties (5 - 4)                 1    0    0
Turkey won in AET                               1    0    0
Ukraine won in penalties (3- 0)                 1    0    0
Uruguay won in AET                              1    0    0
Uruguay won in penalties (4 - 2)                0    0    1
West Germany won in AET                         1    0    0
West Germany won in penalties (4 - 1)           1    0    0
West Germany won in penalties (4 - 3)           0    0    1
West Germany won in penalties (5 - 4)           0    0    1
Yugoslavia won in AET                           1    0    0

Chi-Square Statistic: 71.89255266427617
Degrees of Freedom: 94
Expected Frequencies:
[[1.00666667e+00 5.63333333e-01 1.43000000e+00]
 [3.35555556e-01 1.87777778e-01 4.76666667e-01]
 [3.35555556e-01 1.87777778e-01 4.76666667e-01]

We created a contingency table to explore the relationship between the “stage” of the tournament and the match outcome categories away(A), draw(D), home(H). This table summarizes the counts of outcomes for each stage, providing insights into how different stages influence match results.

For the “stage” attribute, we performed a Chi-square test to determine if there is a statistically significant relationship between the stage of the match and the outcomes. The resulting Chi-square statistic was 102.64, with 42 degrees of freedom, indicating significant association suggesting that the distribution of outcomes varies significantly across different stages of the tournament.

- Drop Out Highly Correlated Attributes: